/* ERIC MEYERS RESET */
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*mac dropdown lists*/
select 
{
    -webkit-appearance: menulist-button;
}


body 
{
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 300;
    width:100%;
    height:100%;
    overflow-x: hidden;
    float: left;
}

.divHTML
{
    width:100%;
    height:100%;
    min-height:100%;
    position:relative;
}

input[type='text']
{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}


/*header*/

#divHeaderSearch
{
    position:fixed;
    background-color: #231F20;
    width: 100%;
    display:table;
    left: 0px;
    color: white;
    z-index: 102;
}

#divSearchContainer{width:990px;margin:0px auto;display:table;position:relative;font-size: 10px;}
#divLogoContainer{width: 990px;margin: 0px auto;display: table;position: relative;padding-top: 2px;}

#divSubscribeSection
{
    text-align:center;
    margin-top:40px;
}

.subscribefield
{
    border:0px;
    background-color: #272727;
    width: 240px;
    margin-bottom: 5px;
    padding-left:5px;
    color:White;
    font-family: 'Muli', sans-serif;
}

#divSubscribeSectionPopup
{
    text-align:center;
    margin-top:40px;
}

.subscribefieldPopup
{
    border:0px;
    background-color: #272727;
    width: 240px;
    margin-bottom: 5px;
    padding-left:5px;
    color:White;
    font-family: 'Muli', sans-serif;
}

#txtItemSearch
{
    padding: 0px 5px 0px 0px;
    width: 125px;
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    margin: 0px;
    border:0px;
    font-size:10px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: left;
}

a.shophovermenulink
{
    text-decoration:none;
    color:black;
}

a.shophovermenulink:hover
{
    color:#999999;
}

#divSearchHelpBar li
{
    color:Black;
}

#divSearchHelpBar li:hover
{
    color:#999999;
}

#divSearchSlider a
{
    color:black;
}

#divSearchSlider a:hover
{
    color:#999999;
}

/*footer*/
#divFooterWide
{
    position:absolute;
    background-color: white;
    border-top: 1px solid #999999;
    width: 100%;
    display:table;
    left: 0px;
    color: black;
    height: 195px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

#divFooterContainer
{
    margin:0px auto;
    display:table;
    position:relative;
    margin-top: 15px;
    width:990px;
}

#divFooterNotes
{
    width:990px;
    margin:0px auto;
    display:table;
    position:relative;
    text-align:center;
    padding-top: 5px;
    font-size: 10px;
}

#divFooterWide a
{
    color:Black;
}

#divFooterWide a:hover
{
    color:#999999;
}

/*menu link*/

a.menuLink
{
    text-decoration:none;
    color:black;
}

div.divMenuLinkContainer
{
    float:left;
    vertical-align:middle;
    height:29px;
    color:Black;
    position:relative;
    text-align:center;
    line-height: 29px;
    text-decoration: none;
}

div.divMenuLinkContainer:hover
{
    color:#999999;
}

div.divMenuLinkContainer a
{
    color:black;
}

div.divMenuLinkContainer a:hover
{
    color:#999999;
}

#btnSubscribe
{
    border:1px solid white;
    color:white;
    display: inline-block;
    padding: 4px 33px;
    font-size: 10px;
    cursor: pointer;
    background-color: #231F20;
    font-weight:bold;
}

#btnSubscribe:hover
{
    border:1px solid #231F20;
    color:#231F20;
    background-color: White;
}

#btnSubscribePopup
{
    border:1px solid white;
    color:white;
    display: inline-block;
    padding: 4px 33px;
    font-size: 10px;
    cursor: pointer;
    background-color: #231F20;
    font-weight:bold;
}

#btnSubscribePopup:hover
{
    border:1px solid #231F20;
    color:#231F20;
    background-color: White;
}

.spanNewsLetterShowPopup
{
    cursor:pointer;
    color:Black;
}

.spanNewsLetterShowPopup:hover
{
    color:#999999;
}

/*for popups and masks*/

#divMasterMask
{
    background-color:#000000;
    opacity: 0.8;
    filter: alpha(opacity:80);
    position:fixed;
    top:0px;
    left:0px;
    z-index: 101;
    display:none;
}

.modalclose
{
    cursor:pointer;
}

#divBreadCrumbs a
{
    color:Black;
    text-decoration: none;
}

.clickableCurrency
{
    cursor:pointer;
}

div.maskHoverable
{
    position:relative;position:relative;height:651px;overflow:hidden;width:100%;
}


/**shop **/

#divQuickView
{
    width:860px;
    height:560px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-430px;
    margin-top:-289px;
    z-index: 102;
    display:none;
    background-color:White;
    font-family: 'Muli', sans-serif;
}

#divQuickViewContainer
{
    width:835px;
    height:545px;
    margin: 0px auto;
    position: relative;
}

div.divGiftCardSelection
{
    display:table-cell;
    width:100%;
    margin-bottom:5px;
    float:left;
}

a.aProductCategory
{
    color:Black;
}
a.aProductCategory:hover
{
    color:#999999;
}

li.liGiftCardValue
{
    display:inline-table;
    padding:5px 3px;
    background-color:White;
    border:1px solid #999999;
    cursor:pointer;
    width:42px;
    text-align:center;
    color: #999999;
}

#txtGiftCardCustomAmount
{
    text-align:center;
    float:left;
    width:318px;
    margin-right:2px;
    margin-top:4px;
    font-size:13px;
}

input.txtGiftCardInfo
{
    border: 1px solid #999999;
    font-size:13px;
    font-family: 'Muli', sans-serif;
    color:#000000;
    width:393px;
}

div.divGiftCardInfoHeader
{
    font-size:12px;
    margin-top:10px;
    float:left;
    width:100%;
}

div.divGiftCardInfoField
{
    float:left;
    width:100%;
}

#divSampleGiftCard
{
    width:950px;
    height:570px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-475px;
    margin-top:-285px;
    z-index: 102;
    display:none;
    background-color:White;
}


/*product details*/

div.styleTabContents::-webkit-scrollbar 
{
    width: 12px;
    height: 12px;
}

div.styleTabContents::-webkit-scrollbar-track
{
    background-color:#ECECEC;
}

div.styleTabContents::-webkit-scrollbar-thumb
{
    background-color:#BBBDC0;
}

div.productdetailcontent
{
    height:155px;overflow:auto;width:260px;margin-top:5px;font-size:10px;display:none;
}

div.productdetailcontentheader
{
    cursor: pointer;
}

div.productdetailcontent::-webkit-scrollbar 
{
    width: 12px;
    height: 12px;
}

div.productdetailcontent::-webkit-scrollbar-track
{
    background-color:#ECECEC;
}

div.productdetailcontent::-webkit-scrollbar-thumb
{
    background-color:#BBBDC0;
}

#divLargeImageView
{
    position:absolute;
    height:1100px;
    width:990px;
    left:50%;
    top:110px;
    display:none;
    margin-left:-495px;
    background-color: White;
    z-index: 103;
}


div[id*='divColorsContainer']::-webkit-scrollbar 
{
    width: 12px;
    height: 12px;
}

div[id*='divColorsContainer']::-webkit-scrollbar-track
{
    background-color:#ECECEC;
}

div[id*='divColorsContainer']::-webkit-scrollbar-thumb
{
    background-color:#BBBDC0;
}

#divCartItemsGetFromAjax::-webkit-scrollbar 
{
    width: 12px;
    height: 12px;
}

#divCartItemsGetFromAjax::-webkit-scrollbar-track
{
    background-color:#ECECEC;
}

#divCartItemsGetFromAjax::-webkit-scrollbar-thumb
{
    background-color:#BBBDC0;
}

input.txtProductEnquire
{
    width:195px;
    padding-top:2px;
    padding-bottom:2px;
    font-family: 'Muli', sans-serif;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    font-size: 11px;
}


#divSendEnquiryScreen
{
    width:529px;
    height:248px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-265px;
    margin-top:-124px;
    z-index: 102;
    display:none;
    background-color:White;
}

#divSizeGuide, #divSizeGuideMaster, #divPrivacyPolicyPopup
{
    width:650px;
    height:570px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-325px;
    margin-top:-285px;
    z-index: 102;
    display:none;
    background-color:White;
}

#divPrivacyPolicyPopupContents::-webkit-scrollbar 
{
    width: 12px;
    height: 12px;
}

#divPrivacyPolicyPopupContents::-webkit-scrollbar-track
{
    background-color:#ECECEC;
}

#divPrivacyPolicyPopupContents::-webkit-scrollbar-thumb
{
    background-color:#BBBDC0;
}


/*cart*/

div.divInsufficientStock
{
    background-color:#ECECEC;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
}

div.divInsufficientStockMessage
{
    float:left;
    position:absolute;
    width:100%;
    text-align:center;
    top: 40px;
    font-size:18px;
}

span.btnRemoveItem
{
    color:#000000;
    text-decoration: underline;
    cursor: pointer;
}

span.btnRemoveItem:hover
{
    color:black;
}

div.applyDCButton
{
    padding:5px 15px 5px 15px;
    background-color: #231F20;
    border: 1px solid #231F20;
    color:white;
    cursor: pointer;
}

div.applyDCButton:hover
{
    background-color: white;
    border: 1px solid #231F20;
    color:black; 
}

span.btnCancelQuantity
{
    color:#000000;
    text-decoration: underline;
    cursor: pointer;
}

span.btnCancelQuantity:hover
{
    color:black;
}

span.btnCancelColor
{
    color:#000000;
    text-decoration: underline;
    cursor: pointer;
}

span.btnCancelColor:hover
{
    color:black;
}

span.btnCancelSize
{
    color:#000000;
    text-decoration: underline;
    cursor: pointer;
}

span.btnCancelSize:hover
{
    color:black;
}
a.styleme
{
    text-decoration:none;
    color:black;
    cursor:pointer;
    font-size:12px;
}

a.styleme:hover
{
    text-decoration:none;
    color:#DE007B;
    cursor:pointer;
    font-size:12px;
}

/*stockists*/

#sub-menu ul{text-decoration:none;list-style-type: none;}
#sub-menu span{letter-spacing:1px;text-decoration:none;color:black;font-size:12px;margin-left:20px;}
#sub-menu a{letter-spacing:1px;text-decoration:none;color:black;font-size:12px;}
#sub-menu li ul a{letter-spacing:1px;text-decoration:none;color:black;font-size:12px;}
#sub-menu ul{margin:0;padding:0;}
#sub-menu li{padding-bottom:5px;padding-top:5px;padding-left:5px;}
#sub-menu .sub .sub li{}
#sub-menu .sub{margin-left:20px;}
span.bold{font-size:28px;}
span.title{font-size:13px;font-weight:bold;}
span.contents{font-size:13px;}  

span.subtitle 
{
font-size: 11pt;
}


/** HOME PAGE **/
.divSchoolsContainer {position:absolute;width:261px;height:auto;left:180px;top:40px;background:white;z-index:100;display:none;}
.liSchoolItem {list-style: none;width: 100%;height: 30px;font-size: 13px;cursor: pointer;outline: none;}
.lblSchool {display: block;padding-top: 6px;padding-left:5px;width: 100%;float: left;}
.divDropLists {width:34px;height:34px;background-color:#6fb100;float:left;position:relative;cursor:pointer;display:table-cell;}
#MaskForDropDown {background-color:transparent;position:fixed;top:0px;left:0px;z-index: 101;display:none;}
.isSelected{background-color:#ffb500;color:white;}
.txtSchools{width: 180px;height: 30px;border: 1px solid #ffb500;float: left;font-size: 14px;outline: none;padding: 0 0 0 10px;}

/** SCHOOL PAGE **/
table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

td, th {
display: table-cell;
vertical-align: top;
}

.aLinkCon 
{
    text-decoration:none;
    float:left;
    height:inherit;
    width:100%;
}

.dvOption 
{
     display: table-cell;
     width: 115px;
     height: 30px;
     vertical-align:middle;
     cursor:pointer;
     color: black;
     border: 1px solid #ffb500;
     -moz-box-shadow: 4px 4px 6px 1px #ccc;
     -webkit-box-shadow: 4px 4px 6px 1px #ccc;
     box-shadow: 4px 4px 6px 1px #ccc;   
     font-size:14px;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


.table { width: 100%;display: table;border-collapse: collapse;text-align: center;position: relative;}
    .tablecell { display: table-cell;border: 1px solid #cccccc;word-wrap: break-word;}
    .tablecell h2 {font-size: 18px;font-weight: bold;margin: 20px auto 10px;clear: both;min-height:45px;}
    .tablecell pre {display: block;font-size: 12px;margin: 20px auto 0;clear: both;text-align:justify;}
    .tablecell pre:last-child {margin: 20px auto 50px;}
  /** END SCHOOL PAGE ***/
  
  /** CART **/  
  .liSchoolInfo 
  {
      position: relative;
      float: left;
      width: 100%;      
      border-top: 1px solid #cccccc;
  }
    
  .liSchoolInfo label 
  {
      position:absolute;
      top:1px;      
      font-weight:700;
  }  
  
  .lblScStyleInfo 
  {
      width:100%;
      float:left;           
  }
  /** END CART **/
  
  /** LAZY LOAD **/
  
  .imgSImage 
  {
      display:none;
  }
  
  /** END ***/